/*--========================= Bilder =========================--*/
$logoNormal: 100px;
$logoMiddle: 100px;
$logoSmall: 50px;
$picBG: "../img/chooseBG.png";
$picBGSmall: "../img/chooseBGSmall.png";
$picBGMedium: "../img/chooseBGMed.png";
$kosmetikBG: "../img/kosmetikBG.png";
$kosmetikBGsmall: "../img/kosmetikBGSmall.png";
$kosmetikBGmedium: "../img/kosmetikBGmedium.png";
$lichtkosmetikBG: "../img/lichtkosmetikBG.png";
$lichtkosmetikBGsmall: "../img/lichtkosmetikBGSmall.png";
$lichtkosmetikBGmedium: "../img/lichtkosmetikBGmedium.png";

/*--========================= Text =========================--*/
$textFamily: var(--bs-font-sans-serif);
$textSize: 1.1rem;
$textSizeMiddle: 1rem;
$textSizeSmall: 1rem;
$textSizeChoose: 2.6rem;
$textSizeChooseMiddle: 1.6rem;
$textSizeChooseSmall: 1.5rem;
$textHover: #3b3b3b;
$textFooter: rgb(20, 18, 18);
$standOut: #373737;

/*--========================= Hintergrund =========================--*/
$background: var(--bs-body-color);
$textBG: #f6f5f5; //#FDF7FA
$textBG_dark: #F19953;
$linkBG: #6a6a6a;
$linkBG_hover: #505050;
$linkBG_click: #353535;
$footerBG: #F19953;
$bgNavbar: #f8a969;
$filterLeft: var(--bs-purple);
$filterRight: var(--bs-green);
$infoBox: var(--bs-blue);
$bgInfobox: #efefef;

/*--========================= Borders =========================--*/
$borderColor: black;

/*--========================= Input =========================--*/
