/*--========================= Bilder =========================--*/
$logoNormal: 100px;
$logoMiddle: 100px;
$logoSmall: 50px;
$picBG: "../resources/img/titleBild2.jpg";
$picBGSmall: "../resources/img/titleBild2Small.jpg";
$picBGMedium: "../resources/img/titleBild2Small.jpg";

/*--========================= Text =========================--*/
$textFamily: var(--bs-font-sans-serif);
$textSize: 1.1rem;
$textSizeMiddle: 1rem;
$textSizeSmall: 1rem;
$textSizeChoose: 2.6rem;
$textSizeChooseMiddle: 1.6rem;
$textSizeChooseSmall: 1.5rem;
$textHover: #3b3b3b;
$textFooter: rgb(20, 18, 18);
$standOut: #373737;

/*--========================= Hintergrund =========================--*/
$background: var(--bs-body-color);
$textBG: #f6f5f5; //#FDF7FA
$textBG_dark: #eea162;

$linkBG: #6a6a6a;
$linkBG_hover: #505050;
$linkBG_click: #353535;

$readmore: #6BAA75;
$readmore_hover: #578b60;
$readmore_click: #6BAA75;

$accordion-color: #6baa7656;

$footerBG: #eea162;
$bgNavbar: #f9b57c;

$filterLeft: var(--bs-purple);
$filterRight: var(--bs-green);

$infoBox: var(--bs-blue);
$bgInfobox: #efefef;

/*--========================= Borders =========================--*/
$borderColor: black;

/*--========================= Input =========================--*/
