@import "./function";
@import "./variables";
//hintergrund Bild
#kosmetik {
	background-image: url($kosmetikBG);
}
#lichtkosmetik {
	background-image: url($lichtkosmetikBG);
}
// Auswahl Cards
.card-group {
	padding: 0 50px 25px 50px;
	justify-content: center;
	background-color: $textBG_dark;
}

.card {
	height: fit-content;
	min-width: 270px;
	max-width: 270px;
	margin: 50px 25px 50px 25px;
	padding: 0;
	border: 1px solid grey;
	border-radius: 0;
	box-shadow: 5px 5px 7px grey;
	background-color: white;
	h5 {
		color: $standOut;
	}
	//lese mehr
	.card-body > form > .accButton {
		color: white;
		text-decoration: none;
		padding: 5px;
		border: 1px solid grey;
		background-color: $readmore;
	}
	.card-body > form:hover > .accButton{
		background-color: $readmore_hover;
	}
	.card-body > form:active > .accButton{
		background-color: $readmore_click;
	}
}

// Ohne des Linke Border geht weg
.card-group > .card + .card {
	border: 1px solid grey;
	border-radius: 0;
}

.accordion .accordion-item {
	.accordion-header .accordion-button {
		background-color: $accordion-color;
		color: black;
	}
}
.accButton {
	background-color: #ffffff00;
	border: none;
	color: white;
}

/*----=========================== Handy --===========================--*/
@media screen and (max-width: 420px) {
	#kosmetik {
		background-image: url($kosmetikBGsmall);
	}
	#lichtkosmetik {
		background-image: url($lichtkosmetikBGsmall);
	}

}
/*----=========================== Tablet --===========================--*/
@media screen and (max-width: 1000px) and (min-width: 420px) {
	#kosmetik {
		background-image: url($kosmetikBGmedium);
	}
	#lichtkosmetik {
		background-image: url($lichtkosmetikBGmedium);
	}
}
