<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/main.css" />

		<title>Index</title>
	</head>
	<body>
		<!-- Content -->
		<div class="wrapper">
			<!-- Headbereich -->
			<header id="header" class="hide">
				<!-- Head -->
				<div class="head">
					<!-- Logo left -->
					<div class="half" id="headtitle">
						<img
							src="../img/logo.jpg"
							class="rounded logo"
							alt="Logo "
							loading="lazy"
						/>
						<span>Name</span>
					</div>
					<!-- Info right -->
					<div class="half" id="headthings">
						<!-- <div class="switch" id="contactUs">
							<a href="#formular">Kontaktiere uns</a>
						</div>
						<br />
						<br /> -->
					</div>
				</div>
				<!-- Navbar -->
				<nav class="navbar navbar-expand-lg">
					<div class="container-fluid">
						<!-- <a class="navbar-brand" href="#">Navbar</a> -->
						<button
							class="navbar-toggler"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#navbarNav"
							aria-controls="navbarNav"
							aria-expanded="false"
							aria-label="Toggle navigation"
						>
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNav">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link active" aria-current="page" href="#">
										Home
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="kulturdimension.html">kulturdimension</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="quiz.html"
										>Quiz</a
									>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<!-- Hauptteil -->
			<main class="container">
				<!-- Auswahl Angebot -->
				<div class="choose">
					<!-- Text in Mitte -->
					<h3>Schönheit<br />&<br />Verj&uuml;ngung</h3>
					<span>Das pure Wohlbefinden</span>
					<!-- Buttons -->
					<div class="half switch" id="left">
						<a href="kosmetik.html">Kosmetik</a>
					</div>
					<div class="half switch" id="right">
						<a href="licht-kosmetik.html">Energie & Verj&uuml;ngung</a>
					</div>
				</div>
				<!-- Beschreibung -->
				<div id="beschreibung" class="row">
					<!-- Kosmetik -->
					<div class="col infoBox half">
						<h2>Kosmetik</h2>
						<br />
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
							voluptatibus commodi eveniet harum vitae saepe culpa veritatis?
							In, reprehenderit provident.
						</p>
					</div>
					<!-- Lichtkosmetik -->
					<div class="col infoBox half">
						<h2>Energie & Verj&uuml;ngung</h2>
						<br />
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
							voluptatibus commodi eveniet harum vitae saepe culpa veritatis?
							In, reprehenderit provident.
						</p>
					</div>
				</div>
				<!-- Standort -->
				<div id="standort">
					<h2>Standort</h2>
					<br />
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2631.9421257961253!2d8.959208875923844!3d48.72569751003612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799de2e41d423a1%3A0x93230827d155e11d!2sSarka%20Roncevic%20-%20Kosmetik!5e0!3m2!1sde!2sde!4v1684792123332!5m2!1sde!2sde"
						height="450"
						style="border: 0"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"
					></iframe>
				</div>
				<!-- Formular -->
				<!-- <div class="row formular"></div> -->
			</main>

			<!-- Schluss -->
			<footer class="container">
				<!-- Oeffnungszeiten & Anschrift -->
				<div class="row">
					<!-- Oeffnungszeiten -->
					<div class="col half" id="oeffnungszeieten">
						<h5>&Ouml;ffnungszeiten:</h5>
						<span>
							Termine nur mit telefonischer Vereinbarung und zu diesen Zeiten
						</span>
						<div class="">
							<p>
								Montags bis Freitags
								<br />
								von 10:00 bis 18:00 Uhr
							</p>
							<p>
								Samstag & Sonntag <br />
								geschlossen
							</p>
						</div>
					</div>
					<!-- Anschrift -->
					<div class="col half" id="anschrift">
						<h5>Anschrift</h5>
						<span
							>Kosmetikstudio Sarka<br /><br />Magstadterstraße 3<br />71069
							Sindelfingen<br /><br />Tel.: +49 176 56512606<br /><a
								href="mailto:info@kosmetikstudio-sarka.de"
								>info@kosmetikstudio-sarka.de</a
							></span
						>
					</div>
				</div>
				<!-- Allg. Infos -->
				<div class="row" id="allgInfo">
					<span
						>&copy; 2023 Kosmetikstudio Sarka |
						<a href="https.www.instagramm.com">
							<img
								src="../img/icon/instgram_icon.png"
								alt="Instagram Icon"
								loading="lazy"
							/>
						</a>
						|
						<a href="https.www.facebook.com">
							<img
								src="../img/icon/facebook_icon.png"
								alt="Facebook Icon"
								loading="lazy"
							/>
						</a>
						| <a href="./impressum.html">Impressum</a> |
						<a href="./datenschutz.html">Datenschutzerkl&auml;rung</a>
					</span>
				</div>
			</footer>
		</div>

		<script src="../js/scroll.js"></script>
		<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
	</body>
</html>
